{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Entrar no To Do List {% endblock %} 

{% block content %} 
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title">
                    Entrar no To Do List

                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">

                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        
                    </form>
                </h4>
                <div class="change-form-p">
                    <p>Não tem uma conta? <a href="{% url 'signup' %}">Cadastrar</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 